body {
    background-color: rgb(2, 48, 71) !important;
    font-family: 'Roboto Flex', sans-serif;
    color: rgb(142, 202, 230) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back {
    width: 700px;
    height: 250px;
    padding: 2%;
    margin-top: 200px;
    background-color: rgb(33, 158, 188);
    border-style: solid;
    border-color: rgb(151, 220, 238);
    border-width: 3px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: rgb(239, 246, 224) !important;
    margin-bottom: 4% !important;
}


.botones {
    position: relative;
    width: 160px;
    padding: 10px;
    border-radius: 6px;
    border: 0;
    background: rgb(255, 183, 3);
    font-size: 1.2em;
    color: #fff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
    box-shadow: 0px 3px 0px rgb(251, 133, 0);
    margin-top: 10%;
    cursor: pointer;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-code {
    text-transform: uppercase;
    display: block;
    border: none;
    padding: 0;
    width: 285px;
    background: repeating-linear-gradient(90deg, rgb(239, 246, 224) 0, rgb(239, 246, 224) 1ch, transparent 0, transparent 1.5ch) 0 100%/ 12ch 2px no-repeat;
    font: 5ch droid sans mono, consolas, monospace;
    letter-spacing: 0.5ch;
}
.input-code {
    outline: none;
    color: rgb(245, 248, 236);
}