table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
}

body {
    background-color: rgb(2, 48, 71)!important;
    font-family: 'Roboto Flex', sans-serif;
    color: rgb(142, 202, 230) !important;
}

nav.navbar {
    background-color: rgb(33, 158, 188)!important;
}

.btn_logout {
    background-color: rgb(241, 89, 89)!important;
}

.btn_crud {
    background-color: rgb(142, 202, 230) !important;
}

.filtro {
    background-color: rgb(142, 202, 230) !important;
    color: black !important;
    width: 150px !important;
}

.filtro::placeholder {
    color: black !important;
}

.btn_filtros {
    background-color: rgb(251, 133, 0) !important;
}

.btn_check {
    background-color: red;
}


/* BOTONES NAVBAR: PROF - ALU*/


/* BOTONES PAGINACIÓN: */

.paginacion {
    background-color: rgb(255, 183, 3);
    border-style: solid;
    border-color: rgb(251, 133, 0) !important;
    border-radius: 5px;
}

#table {
    width: 100%;
    height: 62vh;
    display: block;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    color: black;
}

td {
    border: 1px solid rgb(33, 158, 188);
    text-align: left;
    padding: 8px;
    background-color: rgb(142, 202, 230);
}

th {
    border: 2px solid rgb(33, 158, 188);
    text-align: left;
    padding: 8px;
    background-color: rgb(67, 124, 151);
}

tr:nth-child(even) {
    background-color: #dddddd;
}

table .header-check {
    width: 2%;
}

table .header-nombre {
    width: 20%;
}

table .header-edad {
    width: 4%;
}

table .header-correo {
    width: 40%;
}

table .header-accion {
    width: 8%;
}

.crear-container {
    display: flex;
    justify-content: center;
}

.button-style {
    margin: 20px;
}

.filtrar-container input,
#filtro-clases {
    margin-left: 10px;
    display: unset !important;
    width: 150px !important;
    margin: 0px 10px !important;
}

.filtrar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row !important;
}

.filtrar-container button {
    font-size: 16px;
    padding: 8px 15px;
    margin-left: 5px;
}

.page-buttons {
    position: absolute;
    width: 100%;
    bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.page-buttons button {
    border: 1px solid #d5d5d5;
    cursor: pointer;
}

.headers-orderby-checked {
    background-color: #d4d4d4;
}

.headers-orderby:hover {
    cursor: pointer;
    background-color: #c9c9c9;
    transition: 0.2s ease-in-out;
}

.text-center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #3498db;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}