
.table-container {
    width: 100%;
    height: 71vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#table {
    width: 90%;
    height: 100%;
    color: black;
    overflow-y: auto;
}

#table::-webkit-scrollbar {
    width: 10px;
}

#table::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
#table::-webkit-scrollbar-thumb {
    background-color: rgb(33, 158, 188);
    border-radius: 10px;
}

#table::-webkit-scrollbar-thumb:hover {
    background: rgb(30, 135, 161); 
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td {
    border: 1px solid rgb(33, 158, 188);
    text-align: left;
    padding: 8px;
    background-color: rgb(142, 202, 230);
}

th {
    border: 2px solid rgb(33, 158, 188);
    text-align: left;
    padding: 8px;
    background-color: rgb(67, 124, 151);
}

tr:nth-child(even) {
    background-color: #dddddd;
}

table .header-check {
    width: 2%;
}

table .header-nombre {
    width: 20%;
}

table .header-edad {
    width: 4%;
}

table .header-correo {
    width: 40%;
}

table .header-accion {
    width: 8%;
}


body {
    background-color: rgb(2, 48, 71)!important;
    font-family: 'Roboto Flex', sans-serif;
    color: rgb(142, 202, 230) !important;
}

nav.navbar {
    background-color: rgb(33, 158, 188)!important;
}

.btn_logout {
    background-color: rgb(241, 89, 89)!important;
}

.btn_crud {
    background-color: rgb(142, 202, 230) !important;
}

.filtro {
    background-color: rgb(142, 202, 230) !important;
    color: black !important;
    width: 150px !important;
}

.filtro::placeholder {
    color: black !important;
}

.btn_filtros {
    background-color: rgb(251, 133, 0) !important;
}

.btn_check {
    background-color: red;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown input[type="checkbox"] {
    display: none !important;
}

.dropdown label {
    background-color: rgb(255, 183, 3);
    color: black;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    width: fit-content;
    margin-top: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 5px;
}
  
.dropdown input:checked ~ .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.filtros-container {
    display: flex;
    gap: 10px;
    width: fit-content;
}

.filtros-container:first-of-type {
    margin-bottom: 10px;
}


.filtrar-container input,
#filtro-clases {
    display: unset !important;
    width: 150px !important;
}

.filtrar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row !important;
}

.filtrar-container button {
    font-size: 16px;
    padding: 8px 15px;
    margin-left: 5px;
}


/* BOTONES NAVBAR: PROF - ALU*/

.wrapper{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    justify-content: space-evenly;
    border-radius: 5px;
}

.wrapper .option{
    background-color: rgb(255, 183, 3);
    border-style: solid;
    border-color: rgb(251, 133, 0) !important;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    transition: all 0.3s ease;
    color: black;
}

.wrapper .option .dot{
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
}

.wrapper .option .dot::before{
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background-color: rgb(255, 183, 3);
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
}

input[type="radio"]{
    display: none;
}

#scope-alumnos:checked:checked ~ .option-1,
#scope-profesores:checked:checked ~ .option-2{
    background-color: rgb(255, 183, 3);
    background-color: rgb(255, 183, 3);
}

#scope-alumnos:checked:checked ~ .option-1 .dot,
#scope-profesores:checked:checked ~ .option-2 .dot{
    background: #fff;
}

#scope-alumnos:checked:checked ~ .option-1 .dot::before,
#scope-profesores:checked:checked ~ .option-2 .dot::before{
    opacity: 1;
    transform: scale(1);
}

.wrapper .option span{
    font-size: 20px;
    color: #808080;
}

#scope-alumnos:checked:checked ~ .option-1 span,
#scope-profesores:checked:checked ~ .option-2 span{
    color: black;
}


/* BOTONES PAGINACIÓN: */

.btn-style {
    background-color: rgb(255, 183, 3);
    border-style: solid;
    border-color: rgb(251, 133, 0);
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
    height: fit-content;
    margin: 0 !important;
}

.paginacion {
    background-color: rgb(255, 183, 3);
    border-style: solid;
    border-color: rgb(251, 133, 0);
    border-radius: 5px;
}

.crear-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}


.page-buttons {
    position: absolute;
    width: 100%;
    bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.page-buttons button {
    border: 1px solid #d5d5d5;
    cursor: pointer;
}

.headers-orderby-checked {
    background-color: #d4d4d4;
}

.headers-orderby:hover {
    cursor: pointer;
    background-color: #c9c9c9;
    transition: 0.2s ease-in-out;
}

.text-center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    margin: auto;
    margin-top: 80px;
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #3498db;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.table-container {
    width: 100%;
    height: 71vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#table {
    width: 90%;
    height: 100%;
    color: black;
    overflow-y: auto;
}

#table::-webkit-scrollbar {
    width: 10px;
}

#table::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
#table::-webkit-scrollbar-thumb {
    background-color: rgb(33, 158, 188);
    border-radius: 10px;
}

#table::-webkit-scrollbar-thumb:hover {
    background: rgb(30, 135, 161); 
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td {
    border: 1px solid rgb(33, 158, 188);
    text-align: left;
    padding: 8px;
    background-color: rgb(142, 202, 230);
}

th {
    border: 2px solid rgb(33, 158, 188);
    text-align: left;
    padding: 8px;
    background-color: rgb(67, 124, 151);
}

tr:nth-child(even) {
    background-color: #dddddd;
}

table .header-check {
    width: 2%;
}

table .header-nombre {
    width: 20%;
}

table .header-edad {
    width: 4%;
}

table .header-correo {
    width: 40%;
}

table .header-accion {
    width: 8%;
}


body {
    background-color: rgb(2, 48, 71)!important;
    font-family: 'Roboto Flex', sans-serif;
    color: rgb(142, 202, 230) !important;
}

nav.navbar {
    background-color: rgb(33, 158, 188)!important;
}

.btn_logout {
    background-color: rgb(241, 89, 89)!important;
}

.btn_crud {
    background-color: rgb(142, 202, 230) !important;
}

.filtro {
    background-color: rgb(142, 202, 230) !important;
    color: black !important;
    width: 150px !important;
}

.filtro::placeholder {
    color: black !important;
}

.btn_filtros {
    background-color: rgb(251, 133, 0) !important;
}

.btn_check {
    background-color: red;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown input[type="checkbox"] {
    display: none !important;
}

.dropdown label {
    background-color: rgb(255, 183, 3);
    color: black;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    width: fit-content;
    margin-top: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 5px;
}
  
.dropdown input:checked ~ .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.filtros-container {
    display: flex;
    gap: 10px;
    width: fit-content;
}

.filtros-container:first-of-type {
    margin-bottom: 10px;
}


.filtrar-container input,
#filtro-clases {
    display: unset !important;
    width: 150px !important;
}

.filtrar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row !important;
}

.filtrar-container button {
    font-size: 16px;
    padding: 8px 15px;
    margin-left: 5px;
}


/* BOTONES NAVBAR: PROF - ALU*/

.wrapper{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    justify-content: space-evenly;
    border-radius: 5px;
}

.wrapper .option{
    background-color: rgb(255, 183, 3);
    border-style: solid;
    border-color: rgb(251, 133, 0) !important;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    transition: all 0.3s ease;
    color: black;
}

.wrapper .option .dot{
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
}

.wrapper .option .dot::before{
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background-color: rgb(255, 183, 3);
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
}

input[type="radio"]{
    display: none;
}

#scope-alumnos:checked:checked ~ .option-1,
#scope-profesores:checked:checked ~ .option-2{
    background-color: rgb(255, 183, 3);
    background-color: rgb(255, 183, 3);
}

#scope-alumnos:checked:checked ~ .option-1 .dot,
#scope-profesores:checked:checked ~ .option-2 .dot{
    background: #fff;
}

#scope-alumnos:checked:checked ~ .option-1 .dot::before,
#scope-profesores:checked:checked ~ .option-2 .dot::before{
    opacity: 1;
    transform: scale(1);
}

.wrapper .option span{
    font-size: 20px;
    color: #808080;
}

#scope-alumnos:checked:checked ~ .option-1 span,
#scope-profesores:checked:checked ~ .option-2 span{
    color: black;
}


/* BOTONES PAGINACIÓN: */

.btn-style {
    background-color: rgb(255, 183, 3);
    border-style: solid;
    border-color: rgb(251, 133, 0);
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
    height: fit-content;
    margin: 0 !important;
}

.paginacion {
    background-color: rgb(255, 183, 3);
    border-style: solid;
    border-color: rgb(251, 133, 0);
    border-radius: 5px;
}

.crear-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}


.page-buttons {
    position: absolute;
    width: 100%;
    bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.page-buttons button {
    border: 1px solid #d5d5d5;
    cursor: pointer;
}

.headers-orderby-checked {
    background-color: #d4d4d4;
}

.headers-orderby:hover {
    cursor: pointer;
    background-color: #c9c9c9;
    transition: 0.2s ease-in-out;
}

.text-center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    margin: auto;
    margin-top: 80px;
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #3498db;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

.dropdown-item:hover {
    background-color: #dfdfdf !important;
    cursor: pointer !important;
}


.dropdown-menu.options {
    padding: 5px 0px !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform-origin: top;
    animation: menuanimation 0.2s forwards;
}

@keyframes menuanimation {
    0% {
        transform: scaleY(0) translateX(-70px) translateY(30px);
    }
    100% {
        transform: scaleY(1) translateX(-70px) translateY(30px);
    }
}


.dropdown-item.eliminar {
    background-color: #e03444;
    color: white;
}

.dropdown-item.eliminar:hover {
    background-color: #bf313f !important;
    color: white;
}

.dropdown-item.modificar {
    background-color: #047cfc;
    color: white;
}

.dropdown-item.modificar:hover {
    background-color: #1275e0 !important;
    color: white;
}

.dropdown-item.correo {
    background-color: #34ac50;
    color: white;
}

.dropdown-item.correo:hover {
    background-color: #349e4d !important;
    color: white;
}

.dropdown-item.password {
    background-color: #70747c;
    color: white;
}

.dropdown-item.password:hover {
    background-color: #62666d !important;
    color: white;
}

.display-options {
    border: none;
    background: none;
    font-size: 18px;
    cursor: pointer;
}

.display-options:focus {
    outline: none;
}


/* ALERTAS */

.swal-wide {
    width: 750px !important;
}

.swal-wide .swal2-html-container {
    text-align: left !important;
}

.swal-wide input {
    width: 60% !important;
}

.swal-wide textarea {
    width: 85% !important;
    min-height: 300px !important;
    resize: none;
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}